<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS Form Validation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">
    <h1>AngularJS Form with Validation</h1>

    <form name="myForm" ng-submit="submitForm()" novalidate>
      <label for="name">Name:</label>
      <input type="text" name="name" ng-model="user.name" required>
      <span ng-show="myForm.name.$touched && myForm.name.$invalid">Name is required.</span>
      <br><br>

      <label for="email">Email:</label>
      <input type="email" name="email" ng-model="user.email" required>
      <span ng-show="myForm.email.$touched && myForm.email.$invalid">Valid email is required.</span>
      <br><br>

      <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
    </form>

    <hr>

    <p ng-if="submitted">Form submitted successfully! Name: {{ user.name }} | Email: {{ user.email }}</p>

  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.user = {};
      $scope.submitted = false;

      $scope.submitForm = function() {
        if ($scope.myForm.$valid) {
          $scope.submitted = true;
        }
      };
    });
  </script>

</body>
</html>
